ProjectAlice/Node Red Flow in ProjectAlice.json
[
    {
        "id": "225ff426.7e6acc",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "e611e456.722cb8",
        "type": "zigbee2mqtt-out",
        "z": "225ff426.7e6acc",
        "name": "SofaOn",
        "server": "49798fa6.ddbfb",
        "friendly_name": "Sofa-Lampe",
        "device_id": "0xbc33acfffe164c0e",
        "command": "state",
        "commandType": "z2m_cmd",
        "payload": "on",
        "payloadType": "z2m_payload",
        "transition": 0,
        "x": 920,
        "y": 160,
        "wires": []
    },
    {
        "id": "3098eebe.949a22",
        "type": "onAliceEvent",
        "z": "225ff426.7e6acc",
        "broker": "347af6b4.8518ca",
        "event": "onFullHour",
        "x": 80,
        "y": 40,
        "wires": [
            [
                "7b3dbb00.54c194"
            ]
        ]
    },
    {
        "id": "7b3dbb00.54c194",
        "type": "say",
        "z": "225ff426.7e6acc",
        "broker": "347af6b4.8518ca",
        "say": "mein bebi ist super süs",
        "client": "",
        "x": 370,
        "y": 40,
        "wires": []
    },
    {
        "id": "da93e2b4.5f455",
        "type": "mqtt in",
        "z": "225ff426.7e6acc",
        "name": "",
        "topic": "hermes/intent/toggleLightOn",
        "qos": "2",
        "datatype": "auto",
        "broker": "6f00adf7.19ce54",
        "x": 120,
        "y": 180,
        "wires": [
            [
                "1750861c.e5575a"
            ]
        ]
    },
    {
        "id": "efec0f60.b2aa1",
        "type": "zigbee2mqtt-out",
        "z": "225ff426.7e6acc",
        "name": "SofaOff",
        "server": "49798fa6.ddbfb",
        "friendly_name": "Sofa-Lampe",
        "device_id": "0xbc33acfffe164c0e",
        "command": "state",
        "commandType": "z2m_cmd",
        "payload": "off",
        "payloadType": "z2m_payload",
        "transition": 0,
        "x": 920,
        "y": 300,
        "wires": []
    },
    {
        "id": "9a98b829.2f5f18",
        "type": "mqtt in",
        "z": "225ff426.7e6acc",
        "name": "",
        "topic": "hermes/intent/toggleLightOff",
        "qos": "2",
        "datatype": "auto",
        "broker": "6f00adf7.19ce54",
        "x": 120,
        "y": 320,
        "wires": [
            [
                "88a9628b.04434"
            ]
        ]
    },
    {
        "id": "33528737.7e0228",
        "type": "zigbee2mqtt-out",
        "z": "225ff426.7e6acc",
        "name": "PCOn",
        "server": "49798fa6.ddbfb",
        "friendly_name": "PC-Lampe",
        "device_id": "0xbc33acfffe16525d",
        "command": "state",
        "commandType": "z2m_cmd",
        "payload": "on",
        "payloadType": "z2m_payload",
        "transition": 0,
        "x": 910,
        "y": 200,
        "wires": []
    },
    {
        "id": "75d35a2.3f92ca4",
        "type": "zigbee2mqtt-out",
        "z": "225ff426.7e6acc",
        "name": "PCOff",
        "server": "49798fa6.ddbfb",
        "friendly_name": "PC-Lampe",
        "device_id": "0xbc33acfffe16525d",
        "command": "state",
        "commandType": "z2m_cmd",
        "payload": "off",
        "payloadType": "z2m_payload",
        "transition": 0,
        "x": 910,
        "y": 340,
        "wires": []
    },
    {
        "id": "1750861c.e5575a",
        "type": "json",
        "z": "225ff426.7e6acc",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 330,
        "y": 180,
        "wires": [
            [
                "61cd4007.93e48"
            ]
        ]
    },
    {
        "id": "61cd4007.93e48",
        "type": "switch",
        "z": "225ff426.7e6acc",
        "name": "",
        "property": "payload.intent.confidenceScore",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gte",
                "v": "0.5",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 470,
        "y": 180,
        "wires": [
            [
                "ced016af.3e65f8",
                "e10f94bd.56df68"
            ]
        ]
    },
    {
        "id": "88a9628b.04434",
        "type": "json",
        "z": "225ff426.7e6acc",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 330,
        "y": 320,
        "wires": [
            [
                "cf65cfce.9b471"
            ]
        ]
    },
    {
        "id": "cf65cfce.9b471",
        "type": "switch",
        "z": "225ff426.7e6acc",
        "name": "",
        "property": "payload.intent.confidenceScore",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gte",
                "v": "0.5",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 470,
        "y": 320,
        "wires": [
            [
                "5ede07f4.db4388",
                "22f066ec.0bdcfa"
            ]
        ]
    },
    {
        "id": "856e090d.667ac8",
        "type": "zigbee2mqtt-out",
        "z": "225ff426.7e6acc",
        "name": "SofaRot",
        "server": "49798fa6.ddbfb",
        "friendly_name": "Sofa-Lampe",
        "device_id": "0xbc33acfffe164c0e",
        "command": "color_hex",
        "commandType": "z2m_cmd",
        "payload": "#FF0000",
        "payloadType": "str",
        "transition": 0,
        "x": 920,
        "y": 660,
        "wires": []
    },
    {
        "id": "2d76bac9.9fd236",
        "type": "mqtt in",
        "z": "225ff426.7e6acc",
        "name": "",
        "topic": "hermes/intent/changeColor",
        "qos": "2",
        "datatype": "auto",
        "broker": "6f00adf7.19ce54",
        "x": 110,
        "y": 500,
        "wires": [
            [
                "db36d59.747a928"
            ]
        ]
    },
    {
        "id": "8c849049.ac6a8",
        "type": "zigbee2mqtt-out",
        "z": "225ff426.7e6acc",
        "name": "PCRot",
        "server": "49798fa6.ddbfb",
        "friendly_name": "PC-Lampe",
        "device_id": "0xbc33acfffe16525d",
        "command": "color_hex",
        "commandType": "z2m_cmd",
        "payload": "#FF0000",
        "payloadType": "str",
        "transition": 0,
        "x": 910,
        "y": 460,
        "wires": []
    },
    {
        "id": "db36d59.747a928",
        "type": "json",
        "z": "225ff426.7e6acc",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 290,
        "y": 500,
        "wires": [
            [
                "f58dd2e9.7f50f"
            ]
        ]
    },
    {
        "id": "f58dd2e9.7f50f",
        "type": "switch",
        "z": "225ff426.7e6acc",
        "name": "ConfidenceFilter",
        "property": "payload.intent.confidenceScore",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gte",
                "v": "0.5",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 120,
        "y": 560,
        "wires": [
            [
                "499c27e5.28cda8",
                "75173738.1ae238"
            ]
        ]
    },
    {
        "id": "c85481b0.bcc8f",
        "type": "switch",
        "z": "225ff426.7e6acc",
        "name": "WhichColor",
        "property": "payload.slots.0.value.value",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "red",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "yellow",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "blue",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "green",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "violette",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 5,
        "x": 670,
        "y": 740,
        "wires": [
            [
                "856e090d.667ac8"
            ],
            [
                "4ef0e1c4.d4763"
            ],
            [
                "1b8f3eef.9c29b1"
            ],
            [
                "b6ebf6db.87db18"
            ],
            [
                "1f820272.95b92e"
            ]
        ]
    },
    {
        "id": "4ef0e1c4.d4763",
        "type": "zigbee2mqtt-out",
        "z": "225ff426.7e6acc",
        "name": "SofaGelb",
        "server": "49798fa6.ddbfb",
        "friendly_name": "Sofa-Lampe",
        "device_id": "0xbc33acfffe164c0e",
        "command": "color_hex",
        "commandType": "z2m_cmd",
        "payload": "#FFFF00",
        "payloadType": "str",
        "transition": 0,
        "x": 920,
        "y": 700,
        "wires": []
    },
    {
        "id": "c7ca2194.860b9",
        "type": "zigbee2mqtt-out",
        "z": "225ff426.7e6acc",
        "name": "PCGelb",
        "server": "49798fa6.ddbfb",
        "friendly_name": "PC-Lampe",
        "device_id": "0xbc33acfffe16525d",
        "command": "color_hex",
        "commandType": "z2m_cmd",
        "payload": "#FFFF00",
        "payloadType": "str",
        "transition": 0,
        "x": 920,
        "y": 500,
        "wires": []
    },
    {
        "id": "1b8f3eef.9c29b1",
        "type": "zigbee2mqtt-out",
        "z": "225ff426.7e6acc",
        "name": "SofaBlau",
        "server": "49798fa6.ddbfb",
        "friendly_name": "Sofa-Lampe",
        "device_id": "0xbc33acfffe164c0e",
        "command": "color_hex",
        "commandType": "z2m_cmd",
        "payload": "#0000FF",
        "payloadType": "str",
        "transition": 0,
        "x": 920,
        "y": 740,
        "wires": []
    },
    {
        "id": "c0fbc630.ff2898",
        "type": "zigbee2mqtt-out",
        "z": "225ff426.7e6acc",
        "name": "PCBlau",
        "server": "49798fa6.ddbfb",
        "friendly_name": "PC-Lampe",
        "device_id": "0xbc33acfffe16525d",
        "command": "color_hex",
        "commandType": "z2m_cmd",
        "payload": "#0000FF",
        "payloadType": "str",
        "transition": 0,
        "x": 920,
        "y": 540,
        "wires": []
    },
    {
        "id": "b6ebf6db.87db18",
        "type": "zigbee2mqtt-out",
        "z": "225ff426.7e6acc",
        "name": "SofaGrün",
        "server": "49798fa6.ddbfb",
        "friendly_name": "Sofa-Lampe",
        "device_id": "0xbc33acfffe164c0e",
        "command": "color_hex",
        "commandType": "z2m_cmd",
        "payload": "#00FF00",
        "payloadType": "str",
        "transition": 0,
        "x": 920,
        "y": 780,
        "wires": []
    },
    {
        "id": "e830373c.5849a8",
        "type": "zigbee2mqtt-out",
        "z": "225ff426.7e6acc",
        "name": "PCGrün",
        "server": "49798fa6.ddbfb",
        "friendly_name": "PC-Lampe",
        "device_id": "0xbc33acfffe16525d",
        "command": "color_hex",
        "commandType": "z2m_cmd",
        "payload": "#00FF00",
        "payloadType": "str",
        "transition": 0,
        "x": 920,
        "y": 580,
        "wires": []
    },
    {
        "id": "499c27e5.28cda8",
        "type": "switch",
        "z": "225ff426.7e6acc",
        "name": "VerschLampen",
        "property": "payload.slots.0.entity",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "Color",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "WhichLamp",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 160,
        "y": 840,
        "wires": [
            [
                "6bd7a68d.aa7598"
            ],
            [
                "b978c3a1.974ab"
            ]
        ]
    },
    {
        "id": "6bd7a68d.aa7598",
        "type": "switch",
        "z": "225ff426.7e6acc",
        "name": "WhichLamp",
        "property": "payload.slots.1.value.value",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "PC",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Sofa",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 370,
        "y": 640,
        "wires": [
            [
                "6e3de01b.6f4f"
            ],
            [
                "c85481b0.bcc8f"
            ]
        ]
    },
    {
        "id": "6e3de01b.6f4f",
        "type": "switch",
        "z": "225ff426.7e6acc",
        "name": "WhichColor",
        "property": "payload.slots.0.value.value",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "red",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "yellow",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "blue",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "green",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "violette",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 5,
        "x": 670,
        "y": 540,
        "wires": [
            [
                "8c849049.ac6a8"
            ],
            [
                "c7ca2194.860b9"
            ],
            [
                "c0fbc630.ff2898"
            ],
            [
                "e830373c.5849a8"
            ],
            [
                "29f43fa7.fa9fc"
            ]
        ]
    },
    {
        "id": "29f43fa7.fa9fc",
        "type": "zigbee2mqtt-out",
        "z": "225ff426.7e6acc",
        "name": "PCLila",
        "server": "49798fa6.ddbfb",
        "friendly_name": "PC-Lampe",
        "device_id": "0xbc33acfffe16525d",
        "command": "color_hex",
        "commandType": "z2m_cmd",
        "payload": "#FF00FF",
        "payloadType": "str",
        "transition": 0,
        "x": 910,
        "y": 620,
        "wires": []
    },
    {
        "id": "1f820272.95b92e",
        "type": "zigbee2mqtt-out",
        "z": "225ff426.7e6acc",
        "name": "SofaLila",
        "server": "49798fa6.ddbfb",
        "friendly_name": "Sofa-Lampe",
        "device_id": "0xbc33acfffe164c0e",
        "command": "color_hex",
        "commandType": "z2m_cmd",
        "payload": "#FF00FF",
        "payloadType": "str",
        "transition": 0,
        "x": 920,
        "y": 820,
        "wires": []
    },
    {
        "id": "f1a14891.d19798",
        "type": "zigbee2mqtt-out",
        "z": "225ff426.7e6acc",
        "name": "SofaRot",
        "server": "49798fa6.ddbfb",
        "friendly_name": "Sofa-Lampe",
        "device_id": "0xbc33acfffe164c0e",
        "command": "color_hex",
        "commandType": "z2m_cmd",
        "payload": "#FF0000",
        "payloadType": "str",
        "transition": 0,
        "x": 920,
        "y": 1060,
        "wires": []
    },
    {
        "id": "471cb16e.d9e2",
        "type": "zigbee2mqtt-out",
        "z": "225ff426.7e6acc",
        "name": "PCRot",
        "server": "49798fa6.ddbfb",
        "friendly_name": "PC-Lampe",
        "device_id": "0xbc33acfffe16525d",
        "command": "color_hex",
        "commandType": "z2m_cmd",
        "payload": "#FF0000",
        "payloadType": "str",
        "transition": 0,
        "x": 910,
        "y": 860,
        "wires": []
    },
    {
        "id": "736ffb8c.314274",
        "type": "switch",
        "z": "225ff426.7e6acc",
        "name": "WhichColor",
        "property": "payload.slots.1.value.value",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "red",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "yellow",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "blue",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "green",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "violette",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 5,
        "x": 670,
        "y": 1140,
        "wires": [
            [
                "f1a14891.d19798"
            ],
            [
                "c38779f0.24cad8"
            ],
            [
                "d799813c.88638"
            ],
            [
                "d1566c41.6883f"
            ],
            [
                "478e6e8.f02c29"
            ]
        ]
    },
    {
        "id": "c38779f0.24cad8",
        "type": "zigbee2mqtt-out",
        "z": "225ff426.7e6acc",
        "name": "SofaGelb",
        "server": "49798fa6.ddbfb",
        "friendly_name": "Sofa-Lampe",
        "device_id": "0xbc33acfffe164c0e",
        "command": "color_hex",
        "commandType": "z2m_cmd",
        "payload": "#FFFF00",
        "payloadType": "str",
        "transition": 0,
        "x": 920,
        "y": 1100,
        "wires": []
    },
    {
        "id": "a0412205.00ec4",
        "type": "zigbee2mqtt-out",
        "z": "225ff426.7e6acc",
        "name": "PCGelb",
        "server": "49798fa6.ddbfb",
        "friendly_name": "PC-Lampe",
        "device_id": "0xbc33acfffe16525d",
        "command": "color_hex",
        "commandType": "z2m_cmd",
        "payload": "#FFFF00",
        "payloadType": "str",
        "transition": 0,
        "x": 920,
        "y": 900,
        "wires": []
    },
    {
        "id": "d799813c.88638",
        "type": "zigbee2mqtt-out",
        "z": "225ff426.7e6acc",
        "name": "SofaBlau",
        "server": "49798fa6.ddbfb",
        "friendly_name": "Sofa-Lampe",
        "device_id": "0xbc33acfffe164c0e",
        "command": "color_hex",
        "commandType": "z2m_cmd",
        "payload": "#0000FF",
        "payloadType": "str",
        "transition": 0,
        "x": 920,
        "y": 1140,
        "wires": []
    },
    {
        "id": "265378a3.f16d08",
        "type": "zigbee2mqtt-out",
        "z": "225ff426.7e6acc",
        "name": "PCBlau",
        "server": "49798fa6.ddbfb",
        "friendly_name": "PC-Lampe",
        "device_id": "0xbc33acfffe16525d",
        "command": "color_hex",
        "commandType": "z2m_cmd",
        "payload": "#0000FF",
        "payloadType": "str",
        "transition": 0,
        "x": 920,
        "y": 940,
        "wires": []
    },
    {
        "id": "d1566c41.6883f",
        "type": "zigbee2mqtt-out",
        "z": "225ff426.7e6acc",
        "name": "SofaGrün",
        "server": "49798fa6.ddbfb",
        "friendly_name": "Sofa-Lampe",
        "device_id": "0xbc33acfffe164c0e",
        "command": "color_hex",
        "commandType": "z2m_cmd",
        "payload": "#00FF00",
        "payloadType": "str",
        "transition": 0,
        "x": 920,
        "y": 1180,
        "wires": []
    },
    {
        "id": "b886fa9f.4ea498",
        "type": "zigbee2mqtt-out",
        "z": "225ff426.7e6acc",
        "name": "PCGrün",
        "server": "49798fa6.ddbfb",
        "friendly_name": "PC-Lampe",
        "device_id": "0xbc33acfffe16525d",
        "command": "color_hex",
        "commandType": "z2m_cmd",
        "payload": "#00FF00",
        "payloadType": "str",
        "transition": 0,
        "x": 920,
        "y": 980,
        "wires": []
    },
    {
        "id": "b978c3a1.974ab",
        "type": "switch",
        "z": "225ff426.7e6acc",
        "name": "WhichLamp",
        "property": "payload.slots.0.value.value",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "PC",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Sofa",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 370,
        "y": 1040,
        "wires": [
            [
                "17aeae2d.8980d2"
            ],
            [
                "736ffb8c.314274"
            ]
        ]
    },
    {
        "id": "17aeae2d.8980d2",
        "type": "switch",
        "z": "225ff426.7e6acc",
        "name": "WhichColor",
        "property": "payload.slots.1.value.value",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "red",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "yellow",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "blue",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "green",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "violette",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 5,
        "x": 670,
        "y": 940,
        "wires": [
            [
                "471cb16e.d9e2"
            ],
            [
                "a0412205.00ec4"
            ],
            [
                "265378a3.f16d08"
            ],
            [
                "b886fa9f.4ea498"
            ],
            [
                "602c219e.940ad"
            ]
        ]
    },
    {
        "id": "602c219e.940ad",
        "type": "zigbee2mqtt-out",
        "z": "225ff426.7e6acc",
        "name": "PCLila",
        "server": "49798fa6.ddbfb",
        "friendly_name": "PC-Lampe",
        "device_id": "0xbc33acfffe16525d",
        "command": "color_hex",
        "commandType": "z2m_cmd",
        "payload": "#FF00FF",
        "payloadType": "str",
        "transition": 0,
        "x": 910,
        "y": 1020,
        "wires": []
    },
    {
        "id": "478e6e8.f02c29",
        "type": "zigbee2mqtt-out",
        "z": "225ff426.7e6acc",
        "name": "SofaLila",
        "server": "49798fa6.ddbfb",
        "friendly_name": "Sofa-Lampe",
        "device_id": "0xbc33acfffe164c0e",
        "command": "color_hex",
        "commandType": "z2m_cmd",
        "payload": "#FF00FF",
        "payloadType": "str",
        "transition": 0,
        "x": 920,
        "y": 1220,
        "wires": []
    },
    {
        "id": "75173738.1ae238",
        "type": "switch",
        "z": "225ff426.7e6acc",
        "name": "WennNurFarbe",
        "property": "payload.slots.1",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "null",
                "vt": "msg"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 360,
        "y": 560,
        "wires": [
            [
                "6e3de01b.6f4f",
                "c85481b0.bcc8f"
            ]
        ]
    },
    {
        "id": "e10f94bd.56df68",
        "type": "switch",
        "z": "225ff426.7e6acc",
        "name": "WhichLamp",
        "property": "payload.slots.0.value.value",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "Sofa",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "PC",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 650,
        "y": 200,
        "wires": [
            [
                "e611e456.722cb8"
            ],
            [
                "33528737.7e0228"
            ]
        ]
    },
    {
        "id": "22f066ec.0bdcfa",
        "type": "switch",
        "z": "225ff426.7e6acc",
        "name": "WhichLamp",
        "property": "payload.slots.0.value.value",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "Sofa",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "PC",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 650,
        "y": 340,
        "wires": [
            [
                "efec0f60.b2aa1"
            ],
            [
                "75d35a2.3f92ca4"
            ]
        ]
    },
    {
        "id": "5ede07f4.db4388",
        "type": "switch",
        "z": "225ff426.7e6acc",
        "name": "WennAlle",
        "property": "payload.slots.0",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "null",
                "vt": "msg"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 640,
        "y": 300,
        "wires": [
            [
                "75d35a2.3f92ca4",
                "efec0f60.b2aa1"
            ]
        ]
    },
    {
        "id": "ced016af.3e65f8",
        "type": "switch",
        "z": "225ff426.7e6acc",
        "name": "WennAlle",
        "property": "payload.slots.0",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "null",
                "vt": "msg"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 640,
        "y": 160,
        "wires": [
            [
                "33528737.7e0228",
                "e611e456.722cb8"
            ]
        ]
    },
    {
        "id": "49798fa6.ddbfb",
        "type": "zigbee2mqtt-server",
        "name": "",
        "host": "127.0.0.1",
        "mqtt_port": "1883",
        "mqtt_username": "",
        "mqtt_password": "",
        "tls": "",
        "usetls": false,
        "base_topic": "zigbee2mqtt"
    },
    {
        "id": "347af6b4.8518ca",
        "type": "aliceMqtt",
        "broker": "localhost",
        "port": "1883",
        "tls": "",
        "usetls": false
    },
    {
        "id": "6f00adf7.19ce54",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "tls": "",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    }
]